.container{
  margin: auto;
  width: 50%;
  border: 1px solid purple;
  background-color: lightseagreen;
  padding: 10px;
}

.add-btn{
  float: right;
  background-color: red;
  color: white;
}
.header {
  padding: 1px;
  text-align: center;
  background: #3d1abc;
  color: white;
  font-size: 20px;
}
